h1{
  color: #660066
/*  border-color: purple;
  border-width: 5px;
  border-style: solid;*/

  border: 8px dashed purple;
}

h4{
  color:purple
}

/*width
color
style*/


body{
  background: pink;
/*  background: url(http://www.ascensionnow.co.uk/uploads/6/8/0/0/6800211/1301522205.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
}

 li{
   color:purple
 }
<!-- you learned rgb,#, rgba -->
