body{
  background: orange;
}
#XBOXONEKNIGHT{
  color: blue;
  background: #000000;
}
.Pizza{
  background: green;
}
.Completed{
  text-decoration: line-through;
  border: 2px solid #000000;
}
/*h1{
  color: rgb(0, 80, 209);
/*  border-color: purple;
  border-width: 5px;
  border-style:dashed;*/
/*  border: 3px solid rgb(00, 23, 69);
}

li{
  color: #0050d1;
}
h4{
  background: #ea002e;
}
body{
  background: green;
/* background: url(https://i.ytimg.com/vi/SzJ46YA_RaA/maxresdefault.jpg);*/
/*  background-repeat: no-repeat;
  background-size: cover;
}*/
